.contacts { 
background-color: #eef5ef;
text-align: center; 
padding: 80px; 
color: #2f855a; 
}
   
.contacts h2 { 
font-size: 40px;
 margin-bottom: 30px; 
}
    
.contacts p { 
margin: 15px 0; 
font-size: 18px; 
}