<section class="contacts" id="contacts">
  <div class="contacts-container">
    <h2>Contact Us</h2>

    <mat-card appearance="outlined" class="contact-card">
      <mat-card-content class="contact-info">
        <p class="info-item">
          <mat-icon>email</mat-icon>
          <span>Email: info&#64;theeatery.com</span>
        </p>

        <p class="info-item">
          <mat-icon>phone</mat-icon>
          <span>Phone: +27 12 345 6789</span>
        </p>

        <p class="info-item">
          <mat-icon>location_on</mat-icon>
          <span>Johannesburg, South Africa</span>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>