.about { 
padding: 80px 10px; 
text-align: center; 
background-color: white; 
color: black; 
}

.about h2 { 
font-size: 40px; 
color: #2f855a; 
margin-bottom: 20px; 
}
   
.about p { 
width: 70%; 
margin: 0 auto 15px; 
line-height: 1.8; 
font-size: 18px; 
color: #2f855a; 
}