  <div class="auth-container">
    <h2>Create an Account</h2>
  
    @if (errorMessage) {
      <p class="error-text">{{ errorMessage }}</p>
    }
  
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Full Name</mat-label>
        <input matInput type="text" name="fullName" [(ngModel)]="fullName" required />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="email" required />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="password" required />
      </mat-form-field>
  
      <button mat-raised-button type="submit" class="full-width register-btn">
  Register
</button>
    </form>
  
    <div class="auth-links">
      <p>Already have an account? <a routerLink="/signin">Sign In</a></p>
    </div>
  </div>